/* selektor uniwerslany * */
* {
    color:red
}
/* selektor znacznik */
p{
    color:green
}
/* selektor klasy */
.selectors {
    background-color: yellow;
}
/* selektor indentyfikatora - jeden */
#main-title {
    font-size: 40px;
}
/* selektor łączony */
div.child {
    background-color: blue;
}
/* selektor potomka */
.child p {
font-size: 20px;
}
/* selektor bezpośredniego potomka  */
.child > p {
    font-size: 30px;

}
/* selektor rodzeństwa */
.child ~.sibling {
    background-color: blueviolet;
}
/* selektor bezpośredniego rodzeństwa  */
.child + .sibling {
    background-color: paleturquoise;
}
/* pseudo-elementy */
.child p::before {
    content: "12345";
}

.child p::after {
    content: 'Koniec';
}
/* hover  */
.hover:hover {
    background-color: blue;
}

/* focus  */

input:focus {
    border: 3px solid grey;
}
/* pierwsze - ostatnie dziecko */
ul :first-child a {
    color: violet;
}
ul :last-child a {
color: khaki;
}
/* pierwszy - ostatni typu */
ul li:first-of-type a {
    color: blue;
}
ul li:nth-of-type(3n + 3) a {
color: red;
}
/* elemnty, które psoiadają dany atrybut */
[title] {
    border: 10px solid green;
}

/* selektor atrybutu o określonej wartości  */
[title="to jest pierwszy input"] {
     border: 10px solid grey;
}

/* selektor atrybutu posiadający wartość */
[title~='drugi'] {
    border: 10px solid red;
}
/* selektor atrybutu posiadający grupe znaków */
input[titile*="in"] {
    border: 10px solid yellow;
}
/* selektor atrybutu zaczynąjacy się ciąghiem znaków */
input[titile^="to"] {
    border: 10px solid violet;
}

/* selektor atrybutu kończący się ciąghiem znaków */
input[titile$="put"] {
    border: 10px solid red;
}


